@font-face {
  font-family: "source-code-pro";
  font-style: normal;
  font-weight: normal;
  src: url("/slide.md/fonts/source-code-pro.woff") format("woff");
}

@font-face {
  font-family: "source-sans-pro";
  font-style: normal;
  font-weight: normal;
  src: url("/slide.md/fonts/source-sans-pro.woff") format("woff");
}

/* line 11, ../WEB-INF/sass/lib/_font-face.sass */
.logo, .subtitle {
  font-family: "source-code-pro";
}

/* line 11, ../WEB-INF/sass/lib/_font-face.sass */
body {
  font-family: "source-sans-pro";
}

/* line 1, ../WEB-INF/sass/lib/_reset.sass */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 10, ../WEB-INF/sass/lib/_reset.sass */
html, body {
  height: 100%;
}

/* line 13, ../WEB-INF/sass/lib/_reset.sass */
body {
  background: #fefefe url("/slide.md/images/lined_paper.png");
  font-size: 18px;
}

/* line 18, ../WEB-INF/sass/lib/_reset.sass */
main {
  min-height: 100%;
  margin-bottom: -60px;
}
/* line 21, ../WEB-INF/sass/lib/_reset.sass */
main:after {
  content: "";
  display: block;
}

/* line 25, ../WEB-INF/sass/lib/_reset.sass */
main::after, footer {
  height: 60px;
}

/* line 28, ../WEB-INF/sass/lib/_reset.sass */
a {
  color: #777777;
  text-decoration: none;
}

/* line 33, ../WEB-INF/sass/lib/_reset.sass */
h1, h2 {
  margin: 0;
  padding: 0;
}

/* line 37, ../WEB-INF/sass/lib/_reset.sass */
h1 {
  font-size: 70px;
}

/* line 40, ../WEB-INF/sass/lib/_reset.sass */
h2 {
  font-size: 32px;
}

@media (max-width: 480px) {
  /* line 44, ../WEB-INF/sass/lib/_reset.sass */
  h1 {
    font-size: 60px;
  }

  /* line 46, ../WEB-INF/sass/lib/_reset.sass */
  h2 {
    font-size: 28px;
  }
}
/* line 1, ../WEB-INF/sass/lib/_placeholder.sass */
.row {
  width: 100%;
}

/* line 3, ../WEB-INF/sass/lib/_placeholder.sass */
.row .content-medium {
  width: 50%;
}

/* line 5, ../WEB-INF/sass/lib/_placeholder.sass */
.row .content {
  width: 960px;
}

/* line 7, ../WEB-INF/sass/lib/_placeholder.sass */
.button {
  width: 100px;
}

/* line 12, ../WEB-INF/sass/lib/_placeholder.sass */
.button {
  height: 30px;
}

/* line 15, ../WEB-INF/sass/lib/_placeholder.sass */
.row .content, .row .content-medium {
  margin: 0 auto;
}

/* line 32, ../WEB-INF/sass/lib/_placeholder.sass */
.logo, .subtitle, header {
  position: relative;
}

/* line 34, ../WEB-INF/sass/lib/_placeholder.sass */
.logo::before, .subtitle::before {
  position: absolute;
}

/* line 39, ../WEB-INF/sass/lib/_placeholder.sass */
.markdown, .css {
  text-align: left;
}

/* line 41, ../WEB-INF/sass/lib/_placeholder.sass */
.row .center, .button, footer, .live {
  text-align: center;
}

/* line 43, ../WEB-INF/sass/lib/_placeholder.sass */
.row .right {
  text-align: right;
}

/* line 52, ../WEB-INF/sass/lib/_placeholder.sass */
.button, .markdown, .slide {
  display: inline-block;
}

/* line 55, ../WEB-INF/sass/lib/_placeholder.sass */
a {
  cursor: pointer;
}

/* line 60, ../WEB-INF/sass/lib/_placeholder.sass */
.button:focus {
  outline: 0;
}

/* line 63, ../WEB-INF/sass/lib/_placeholder.sass */
.button {
  border: 0;
}

/* line 78, ../WEB-INF/sass/lib/_placeholder.sass */
.button {
  text-transform: uppercase;
}

/* line 83, ../WEB-INF/sass/lib/_placeholder.sass */
.button {
  background-color: #cccccc;
}

/* line 85, ../WEB-INF/sass/lib/_placeholder.sass */
.button:hover, .button.signup, .save {
  background-color: #777777;
}

/* line 88, ../WEB-INF/sass/lib/_placeholder.sass */
.button {
  color: white;
}

/* line 90, ../WEB-INF/sass/lib/_placeholder.sass */
.logo, .subtitle {
  color: #777777;
}

/* line 101, ../WEB-INF/sass/lib/_placeholder.sass */
.button:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
}

/* line 105, ../WEB-INF/sass/lib/_placeholder.sass */
.button.login:focus {
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd;
}

/* line 10, ../WEB-INF/sass/layout/_row.sass */
.row .content.header {
  height: 150px;
}

@media (max-width: 800px) {
  /* line 3, ../WEB-INF/sass/layout/mobile/_row.sass */
  .row .content {
    width: 100%;
  }
  /* line 5, ../WEB-INF/sass/layout/mobile/_row.sass */
  .row .content-medium {
    width: 75%;
  }
}
@media (max-width: 480px) {
  /* line 10, ../WEB-INF/sass/layout/mobile/_row.sass */
  .row.top {
    height: 200px;
    margin-bottom: 20px;
  }
  /* line 13, ../WEB-INF/sass/layout/mobile/_row.sass */
  .row .content.right {
    text-align: center;
    position: absolute;
    bottom: 0;
  }
  /* line 17, ../WEB-INF/sass/layout/mobile/_row.sass */
  .row .content.header {
    position: absolute;
    top: 0;
  }
}
/* line 1, ../WEB-INF/sass/layout/_button.sass */
.button {
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}
/* line 16, ../WEB-INF/sass/layout/_button.sass */
.button.signup {
  border-radius: 0px 0px 3px 3px;
}
/* line 19, ../WEB-INF/sass/layout/_button.sass */
.button.login {
  border-radius: 0px 0px 3px 3px;
}

@media (max-width: 480px) {
  /* line 2, ../WEB-INF/sass/layout/mobile/_button.sass */
  .button {
    width: 75%;
  }
  /* line 4, ../WEB-INF/sass/layout/mobile/_button.sass */
  .button.signup {
    border-radius: 0;
  }
  /* line 6, ../WEB-INF/sass/layout/mobile/_button.sass */
  .button.login {
    border-radius: 0;
  }
}
/* line 5, ../WEB-INF/sass/layout/_logo.sass */
.logo::before {
  content: "========";
  bottom: -10px;
  line-height: 0;
}

/* line 1, ../WEB-INF/sass/layout/_subtitle.sass */
.subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0 0 40px;
}
/* line 9, ../WEB-INF/sass/layout/_subtitle.sass */
.subtitle::before {
  content: "##";
  left: 0;
}

/* line 1, ../WEB-INF/sass/layout/_footer.sass */
footer {
  padding: 20px 0;
}

/* line 1, ../WEB-INF/sass/view/_live.sass */
.content.header.center {
  height: 120px;
}

/* line 4, ../WEB-INF/sass/view/_live.sass */
header {
  height: 150px;
}

/* line 8, ../WEB-INF/sass/view/_live.sass */
.logo {
  font-size: 45px;
}

/* line 11, ../WEB-INF/sass/view/_live.sass */
.content-medium .button {
  margin: 10px 0 20px;
}

/* line 14, ../WEB-INF/sass/view/_live.sass */
.live {
  font-size: 0;
}

/* line 18, ../WEB-INF/sass/view/_live.sass */
.markdown, .slide {
  width: 50%;
  height: 400px;
  max-width: 524px;
}

/* line 27, ../WEB-INF/sass/view/_live.sass */
.css {
  width: 100%;
  height: 200px;
}

/* line 32, ../WEB-INF/sass/view/_live.sass */
.back {
  float: right;
}

/* line 35, ../WEB-INF/sass/view/_live.sass */
.save {
  font-size: 16px;
  padding-bottom: 4px;
}

@media (max-width: 600px) {
  /* line 2, ../WEB-INF/sass/view/mobile/_live.sass */
  .ace_editor, .slide {
    width: 100%;
  }
}
@media (max-width: 480px) {
  /* line 6, ../WEB-INF/sass/view/mobile/_live.sass */
  header {
    height: 150px !important;
  }

  /* line 8, ../WEB-INF/sass/view/mobile/_live.sass */
  .logo {
    font-size: 45px;
  }

  /* line 10, ../WEB-INF/sass/view/mobile/_live.sass */
  .content-medium .button {
    width: 100%;
  }

  /* line 13, ../WEB-INF/sass/view/mobile/_live.sass */
  .save {
    margin-bottom: 0 !important;
  }

  /* line 15, ../WEB-INF/sass/view/mobile/_live.sass */
  .back {
    margin-top: 0 !important;
  }
}
